In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.callbacks import EarlyStopping
from pathlib import Path

#  Import and read the charity_data.csv.
import pandas as pd 
file_path = "https://raw.githubusercontent.com/kwinterling/FinalProject/main/Smoker%20status/Resources/train_dataset.csv"
df = pd.read_csv(file_path)
df.head()

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,70,142,19.8,1,1.0,61,115,125,1,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,71,114,15.9,1,1.1,19,25,30,1,0
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,46,91,16.9,1,0.9,32,36,36,0,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,47,92,14.9,1,1.2,26,28,15,0,0

In [2]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()


df.head()

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,relaxation,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,170,85,97.0,0.9,0.9,1,1,118,78,...,70,142,19.8,1,1.0,61,115,125,1,1
1,20,175,110,110.0,0.7,0.9,1,1,119,79,...,71,114,15.9,1,1.1,19,25,30,1,0
2,45,155,65,86.0,0.9,0.9,1,1,110,80,...,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,165,80,94.0,0.8,0.7,1,1,158,88,...,46,91,16.9,1,0.9,32,36,36,0,0
4,20,165,60,81.0,1.5,0.1,1,1,109,64,...,47,92,14.9,1,1.2,26,28,15,0,0

In [3]:
df.dtypes

age                      int64
height(cm)               int64
weight(kg)               int64
waist(cm)              float64
eyesight(left)         float64
eyesight(right)        float64
hearing(left)            int64
hearing(right)           int64
systolic                 int64
relaxation               int64
fasting blood sugar      int64
Cholesterol              int64
triglyceride             int64
HDL                      int64
LDL                      int64
hemoglobin             float64
Urine protein            int64
serum creatinine       float64
AST                      int64
ALT                      int64
Gtp                      int64
dental caries            int64
smoking                  int64
dtype: object

In [4]:
# Drop the non-beneficial ID columns.
new_df = df.drop(['waist(cm)', 'height(cm)', 'weight(kg)', 'eyesight(left)', 'eyesight(right)', 'hearing(left)', 'hearing(right)'], axis=1)
new_df.head()

,age,systolic,relaxation,fasting blood sugar,Cholesterol,triglyceride,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,35,118,78,97,239,153,70,142,19.8,1,1.0,61,115,125,1,1
1,20,119,79,88,211,128,71,114,15.9,1,1.1,19,25,30,1,0
2,45,110,80,80,193,120,57,112,13.7,3,0.6,1090,1400,276,0,0
3,45,158,88,249,210,366,46,91,16.9,1,0.9,32,36,36,0,0
4,20,109,64,100,179,200,47,92,14.9,1,1.2,26,28,15,0,0

In [5]:
X = new_df.drop(columns="smoking")
y = pd.DataFrame(new_df["smoking"])

In [6]:
X.describe()

,age,systolic,relaxation,fasting blood sugar,Cholesterol,triglyceride,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries
count,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000,38984.000000
mean,44.127591,121.475631,75.994408,99.342269,196.883491,126.749461,57.293146,115.081495,14.624264,1.086523,0.886030,26.198235,27.145188,39.905038,0.214421
std,12.063564,13.643521,9.658734,20.642741,36.353945,71.803143,14.617822,42.883163,1.566528,0.402107,0.220621,19.175595,31.309945,49.693843,0.410426
min,20.000000,71.000000,40.000000,46.000000,55.000000,8.000000,4.000000,1.000000,4.900000,1.000000,0.100000,6.000000,1.000000,2.000000,0.000000
25%,40.000000,112.000000,70.000000,89.000000,172.000000,74.000000,47.000000,91.000000,13.600000,1.000000,0.800000,19.000000,15.000000,17.000000,0.000000
50%,40.000000,120.000000,76.000000,96.000000,195.000000,108.000000,55.000000,113.000000,14.800000,1.000000,0.900000,23.000000,21.000000,26.000000,0.000000
75%,55.000000,130.000000,82.000000,104.000000,219.000000,160.000000,66.000000,136.000000,15.800000,1.000000,1.000000,29.000000,31.000000,44.000000,0.000000
max,85.000000,233.000000,146.000000,423.000000,445.000000,999.000000,359.000000,1860.000000,21.100000,6.000000,11.600000,1090.000000,2914.000000,999.000000,1.000000

In [7]:
y['smoking'].value_counts()

0    24666
1    14318
Name: smoking, dtype: int64

In [8]:
from collections import Counter
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(29238, 15)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train.values[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=num_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1280

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 4,351
Trainable params: 4,351
Non-trainable params: 0
_________________________________________________________________

In [11]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:

earlystop = EarlyStopping(
    monitor="loss",
    mode="min",
    patience=5,
    restore_best_weights=True
)

fit_model = nn.fit(X_train, y_train, epochs=200, callbacks=[earlystop])

Epoch 1/200
914/914 [==============================] - 12s 11ms/step - loss: 0.6258 - accuracy: 0.6853
Epoch 2/200
914/914 [==============================] - 3s 4ms/step - loss: 0.5679 - accuracy: 0.7002
Epoch 3/200
914/914 [==============================] - 3s 3ms/step - loss: 0.5596 - accuracy: 0.7020
Epoch 4/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7064
Epoch 5/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7078
Epoch 6/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7106
Epoch 7/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7110
Epoch 8/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7140
Epoch 9/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7178
Epoch 10/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7172
Epoch 11/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7188
Epoch 12/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7197
Epoch 13/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5256 - accuracy: 0.7215
Epoch 14/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7229
Epoch 15/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5229 - accuracy: 0.7254
Epoch 16/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7235
Epoch 17/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5226 - accuracy: 0.7257
Epoch 18/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5210 - accuracy: 0.7253
Epoch 19/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5206 - accuracy: 0.7254
Epoch 20/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5197 - accuracy: 0.7266
Epoch 21/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5197 - accuracy: 0.7271
Epoch 22/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5186 - accuracy: 0.7288
Epoch 23/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5180 - accuracy: 0.7271
Epoch 24/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5176 - accuracy: 0.7296
Epoch 25/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5180 - accuracy: 0.7280
Epoch 26/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5156 - accuracy: 0.7320
Epoch 27/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5154 - accuracy: 0.7300
Epoch 28/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5148 - accuracy: 0.7307
Epoch 29/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5156 - accuracy: 0.7310
Epoch 30/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5140 - accuracy: 0.7294
Epoch 31/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5122 - accuracy: 0.7334
Epoch 32/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5132 - accuracy: 0.7319
Epoch 33/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5122 - accuracy: 0.7334
Epoch 34/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5115 - accuracy: 0.7326
Epoch 35/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5122 - accuracy: 0.7319
Epoch 36/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5117 - accuracy: 0.7330
Epoch 37/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5108 - accuracy: 0.7338
Epoch 38/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5110 - accuracy: 0.7333
Epoch 39/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5115 - accuracy: 0.7310
Epoch 40/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5112 - accuracy: 0.7340
Epoch 41/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5112 - accuracy: 0.7330
Epoch 42/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5094 - accuracy: 0.7327
Epoch 43/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5101 - accuracy: 0.7349
Epoch 44/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5100 - accuracy: 0.7337
Epoch 45/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5100 - accuracy: 0.7341
Epoch 46/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5082 - accuracy: 0.7342
Epoch 47/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5107 - accuracy: 0.7344
Epoch 48/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5073 - accuracy: 0.7366
Epoch 49/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5087 - accuracy: 0.7355
Epoch 50/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5075 - accuracy: 0.7351
Epoch 51/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5069 - accuracy: 0.7356
Epoch 52/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7362
Epoch 53/200
914/914 [==============================] - 3s 3ms/step - loss: 0.5070 - accuracy: 0.7338
Epoch 54/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5069 - accuracy: 0.7380
Epoch 55/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5075 - accuracy: 0.7349
Epoch 56/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5065 - accuracy: 0.7367
Epoch 57/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5049 - accuracy: 0.7376
Epoch 58/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5041 - accuracy: 0.7387
Epoch 59/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5052 - accuracy: 0.7363
Epoch 60/200
914/914 [==============================] - 2s 3ms/step - loss: 0.5064 - accuracy: 0.7350
Epoch 61/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5034 - accuracy: 0.7396
Epoch 62/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5062 - accuracy: 0.7363
Epoch 63/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5042 - accuracy: 0.7378
Epoch 64/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5046 - accuracy: 0.7384
Epoch 65/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5025 - accuracy: 0.7381
Epoch 66/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5026 - accuracy: 0.7387
Epoch 67/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5027 - accuracy: 0.7394
Epoch 68/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7399
Epoch 69/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5034 - accuracy: 0.7358
Epoch 70/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5042 - accuracy: 0.7388
Epoch 71/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5044 - accuracy: 0.7376
Epoch 72/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5011 - accuracy: 0.7399
Epoch 73/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5023 - accuracy: 0.7393
Epoch 74/200
914/914 [==============================] - 2s 2ms/step - loss: 0.4993 - accuracy: 0.7413
Epoch 75/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7392
Epoch 76/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5007 - accuracy: 0.7409
Epoch 77/200
914/914 [==============================] - 2s 2ms/step - loss: 0.5011 - accuracy: 0.7407
Epoch 78/200
914/914 [==============================] - 2s 2ms/step - loss: 0.4996 - accuracy: 0.7388
Epoch 79/200
914/914 [==============================] - 2s 2ms/step - loss: 0.4999 - accuracy: 0.7406

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

305/305 - 0s - loss: 0.7066 - accuracy: 0.6593 - 466ms/epoch - 2ms/step
Loss: 0.7065686583518982, Accuracy: 0.659347414970398